body{
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	padding: 0px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #000000;
	background-image: url(images/001.jpg);
	background-repeat: repeat-x;
	background-color: #ff9f0b;
}
.login-header {
	float: left;
	height: 37px;
	width: 520px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 24px;
	font-weight: bold;
	color: #FFF;
	padding-left: 10px;
	padding-top: 10px;
}
.user-header {
	float: left;
	height: 78px;
	width: 520px;
}
.password-header {
	float: left;
	height: 78px;
	width: 520px;
}
.button-login {
	float: left;
	height: 30px;
	width: 75px;
	margin-top: 13px;
	margin-right: 20px;
	margin-bottom: 22px;
	margin-left: 425px;
}
.username {
	width: 113px;
	float: left;
	height: 48px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: bold;
	color: #FFF;
	padding-top: 30px;
}
.text-field-user {
	float: left;
	height: 78px;
	width: 407px;
}







ul,h1,h2,h3{ padding:0; margin:0; text-align:left}


.header{ background-image:url(images/Egyptian_Center_01.jpg); height:384px; background-repeat:repeat-x}
.middel{ background-image:url(images/Egyptian_Center_11.jpg); width:100%; background-repeat:repeat-x}
.fotter{ background-image:url(images/Egyptian_Center_67.jpg); height:72px; background-repeat:repeat-x}
.logo {
	height: auto;
	width: auto;
	margin-right: auto;
	margin-left: auto;
	margin-top: 30px;
	margin-bottom: 20px;
}
.user-pass {
	height: 267px;
	width: 556px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 100px;
}
.right-log {
	background-image: url(images/log-in-001_07.png);
	background-repeat: no-repeat;
	float: left;
	height: 267px;
	width: 19px;
}
.user-pass .text-field {
	float: left;
	height: 267px;
	width: 520px;
	background-image: url(images/log-in-001_08.png);
	background-repeat: repeat-x;
}
.user-pass .left-log {
	float: left;
	height: 267px;
	width: 17px;
	background-image: url(images/log-in-001_10.png);
	background-repeat: no-repeat;
}

.inputForm
{
	-moz-border-radius: 10px; /* Firefox */
	-webkit-border-radius: 10px; /* Safari, Chrome */
	-khtml-border-radius: 10px; /* KHTML */
	border-radius: 10px; /* CSS3 */
	behavior: url("border-radius.htc");
	width: 380px;
	margin-top: 20px;
	padding: 5px;
	height: 28px;
	background-image: url(images/log-in-001_14.jpg);
	background-repeat: repeat-x;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}.top-main1 {
	height: 48px;
	width: auto;
	margin-right: auto;
	margin-left: auto;
	background-image: url(images/001_02.jpg);
	background-repeat: repeat-x;
}
.top-content {
	float: left;
	height: 32px;
	width: 311px;
	margin-right: 651px;
	margin-left: 21px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #000;
	background-image: url(images/back-end_10.jpg);
	background-repeat: no-repeat;
	padding-top: 10px;
	padding-left: 20px;
	font-weight: bold;
	margin-top: 40px;
}
.table-main {
	background-color: #FFFFFF;
	height: auto;
	width: 983px;
	margin-right: 0px;
	margin-left: 0px;
}
.table-titels {
	float: left;
	height: 39px;
	width: 983px;
	/* [disabled]margin-left: 10px; */
	background-image: url(images/head_18.jpg);
	background-repeat: repeat-x;
	/* [disabled]margin-right: 10px; */
}
.left-wing {
	float: left;
	height: 39px;
	width: 12px;
	background-image: url(images/head_16.jpg);
	background-repeat: no-repeat;
}
.cells-titels {
	float: left;
	height: 39px;
	width: 959px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #000;
}
.right-wing {
	background-image: url(images/head_20.jpg);
	background-repeat: no-repeat;
	float: left;
	height: 39px;
	width: 12px;
}
.table-link1 {
	float: left;
	height: 21px;
	width: 133px;
	margin-top: 10px;
	margin-bottom: 8px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #000;
	border-right-width: thin;
	border-right-style: solid;
	border-right-color: #666;
}
.cell-1 {
	height: auto;
	width: 983px;
	float: left;
	border-bottom-width: thin;
	border-bottom-style: solid;
	border-bottom-color: #999;
	background-color: #FFF;
}
.table-body-cells {
	height: auto;
	width: 983px;
	margin-right: auto;
	margin-left: auto;
	background-color: #FFF;
}












.pannr-main2 {
	height: 320px;
	width: 1003px;
	margin-right: auto;
	margin-left: auto;
	background-image: url(images/5555555.png);
	background-repeat: no-repeat;
}

.menu-main1 .menu-in {
	
}

.body-main1 {
	height: auto;
	width: 983px;
	background-color: #FFFFFF;
	float: left;
	padding-right: 10px;
	padding-left: 10px;
}
.top-3doc {
	float: left;
	height: 14px;
	width: 987px;
	margin-right: 6px;
	margin-left: 10px;
}

.bottom-main1 {
	background-image: url(images/001_10.jpg);
	background-repeat: repeat-x;
	height: 70px;
	width: 100%;
	margin-right: auto;
	margin-left: auto;
	float: left;
}
.container-body {
	height: auto;
	width: 1003px;
	margin-right: auto;
	margin-left: auto;
	background-color: #FFF;
}



.table-link2 {
	float: left;
	height: 21px;
	width: 249px;
	margin-top: 10px;
	margin-bottom: 8px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #000;
	border-right-width: thin;
	border-right-style: solid;
	border-right-color: #666;
}

.table-link3 {
	float: left;
	height: 21px;
	width: 259px;
	margin-top: 10px;
	margin-bottom: 8px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #000;
	border-right-width: thin;
	border-right-style: solid;
	border-right-color: #666;
}

.table-link4 {
	float: left;
	height: 21px;
	width: 212px;
	margin-top: 10px;
	margin-bottom: 8px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	nt-weight: bold;
	focolor: #000;
	margin-right: 100px;
}

.table-cell1 {
	float: left;
	height: auto;
	width: 133px;
	margin-top: 10px;
	margin-bottom: 8px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: normal;
	color: #000;
	border-right-width: thin;
	border-right-style: solid;
	border-right-color: #666;
	margin-left: 12px;
}


.table-cell2 {
	float: left;
	height: auto;
	width: 249px;
	margin-top: 10px;
	margin-bottom: 8px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: normal;
	color: #000;
	border-right-width: thin;
	border-right-style: solid;
	border-right-color: #666;
}

.table-cell3 {
	float: left;
	height: auto;
	width: 259px;
	margin-top: 10px;
	margin-bottom: 8px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: normal;
	color: #000;
	border-right-width: thin;
	border-right-style: solid;
	border-right-color: #666;
}

.table-cell4 {
	float: left;
	height: auto;
	width: 212px;
	margin-top: 10px;
	margin-bottom: 8px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	nt-weight: bold;
	focolor: #000;
}

.table-cell5 {
	float: left;
	height: 21px;
	width: 100px;
	margin-top: 10px;
	margin-bottom: 8px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	nt-weight: bold;
	focolor: #000;
}
.links-bottom {
	height: 50px;
	width: 1003px;
	margin-top: 10px;
	margin-right: auto;
	margin-bottom: 10px;
	margin-left: auto;
	background-position: center;
	font-family: Arial, Helvetica, sans-serif;
	color: #FFF;
	font-size: 12px;
}
.new-top {
	width: 987px;
	margin-right: 6px;
	margin-left: 10px;
	background-image: url(images/001_08.jpg);
	background-repeat: no-repeat;
	float: left;
	height: 13px;
}
.top-content-buttns {
	float: left;
	height: 416px;
	width: 725px;
}
.botttom-gallery {
	float: left;
	height: 416px;
	width: 262px;
}
.gallery-down {
	float: left;
	height: 273px;
	width: 987px;
}
.botton-left {
	background-image: url(images/002_17.gif);
	background-repeat: no-repeat;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #000;
	height: 29px;
	width: 223px;
	margin: 25px;
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-left: 15px;
	float: left;
}
.botton-bottoms {
	background-image: url(images/002_23.gif);
	background-repeat: no-repeat;
	float: left;
	height: 25px;
	width: 192px;
	margin: 12px;
	padding-top: 2px;
	padding-right: 2px;
	padding-bottom: 2px;
	padding-left: 20px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
}
.image-1 {
	float: left;
	height: 123px;
	width: 157px;
	margin: 5px;
	padding: 5px;
	background-image: url(images/002_15.png);
	background-repeat: no-repeat;
}
.link-body-00 {
	float: left;
	height: 40px;
	width: 967px;
	margin-top: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	margin-left: 20px;
}




.new-pody {
	width: 987px;
	margin-right: 6px;
	margin-left: 10px;
	background-image: url(images/001_17.jpg);
	background-repeat: repeat-y;
	height: 800px;
	float: left;
}

.new-footr {
	width: 987px;
	margin-right: 6px;
	margin-left: 10px;
	background-image: url(images/001_19.jpg);
	background-repeat: no-repeat;
	height: 33px;
	
	float: left;
}
.top-link-gallery {
	float: left;
	height: 45px;
	width: 967px;
	margin-top: 20px;
	margin-left: 20px;
}
.gallery-body-bottom-00 {
	float: left;
	height: 180px;
	width: 967px;
	margin-right: 10px;
	margin-left: 10px;
	margin-top: 20px;
}
.logo-company {
	float: left;
	width: 317px;
	height: 185px;
	margin-left: 686px;
	margin-top: 80px;
}

a.langue:link {
	text-decoration: underline;
	color: #FF0000
}
a.langue:visited {
	text-decoration: underline;
	color: #FF0000
}
a.langue:hover {
	text-decoration: none;
	color: #FF9900
}
a.langue:active {text-decoration: none;}
.container-org {
	float: left;
	background-color: #F83A09;
	height: 200px;
	width: 1003px;
}
.top-org {
	float: left;
	background-color: #FF6600;
	height: 25px;
	width: 1003px;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 16px;
	font-weight: bolder;
	color: #FFF;
	padding-top: 5px;
}
.top-org1 {
	float: left;
	height: 28px;
	width: 155px;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 16px;
	font-weight: bolder;
	color: #FFF;
	background-image: url(images/buttom.jpg);
	background-repeat: no-repeat;
	margin-right: 10px;
	padding-left: 100px;
}
.fields {
	float: left;
	width: 703px;
	padding-right: 150px;
	padding-left: 150px;
	padding-top: 50px;
	background-color: #FFF;
	height: auto;
}

.top-org2 {
	float: left;
	background-color: #FFFFFF;
	height: 28px;
	width: 753px;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 16px;
	font-weight: bolder;
	color: #FFF;
	padding-left: 250px;
	padding-top: 10px;
}
.text-table-1 {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 14px;
	font-weight: normal;
	color: #C00;
	padding-left: 5px;
	padding-top: 10px;
	padding-bottom: 10px;
}
.inputForm2
{
	width: 380px;
	margin-top: 20px;
	padding: 5px;
	height: 28px;
	border: 1px none #FEB511;
}
.top-org4 {
	float: left;
	background-color: #FFFFFF;
	height: 28px;
	width: 970px;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 16px;
	font-weight: bolder;
	color: #FFF;
	padding-left: 20px;
	padding-top: 10px;
}
.fields1 {
	float: left;
	height: auto;
	width: 983px;
	background-color: #FFF;
	padding-top: 20px;
	padding-right: 10px;
	padding-left: 10px;
}
.go22 {
	background-color: #ffbb1b;
	height: 32px;
	border-right-width: thin;
	border-left-width: thin;
	border-right-style: solid;
	border-left-style: solid;
	border-right-color: #F60;
	border-left-color: #F60;
	background-position: center center;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
	color: #ad0101;
	padding: 2px;
}

.go23 {
	background-color: #feed88;
	height: 79px;
	border-right-width: thin;
	border-left-width: thin;
	border-right-style: solid;
	border-left-style: solid;
	border-right-color: #F60;
	border-left-color: #F60;
	padding: 2px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: normal;
	color: #B00;
	text-align: center;
}

.go24{
	background-color: #FFFFFF;
	height: 79px;
	border-right-width: thin;
	border-left-width: thin;
	border-right-style: solid;
	border-left-style: solid;
	border-right-color: #F60;
	border-left-color: #F60;
	padding: 2px;
}

.go25 {
	background-color: #FF6600;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #FF6600;
}
