*{
	margin: 0;
	padding: 0;
}
body
{
	width: 100%;
}

header
{
	width: 100%;
}
.top_border
{
	background: #e7b80a;
	height: 9px;
}
.banner_img
{

}
.wrapper
{
	width: 1200px;
	margin: 0 auto;
}
.second_part
{
	margin-top: 40px;
}
