
.content{
	width:100%;
	margin:20px auto;
	
	}
	
.main{
	float:left;
	width: 100%;
	margin-top:80px;
	
	}
#progressbar{
	margin:0;
	padding:0;
	font-size:18px;
	}	
.active{
	color:red;
	}
	
fieldset{
	display:none;
	width: 100%;
	padding:00px;
	margin-top:50px;
	margin-left: 0px;
	border-radius:5px;
	box-shadow: 3px 3px 25px 1px gray;
	}

#first{
    display:block;
	width: 100%;
	padding:20px;
	margin-top:50px;
	border-radius:5px;
	margin-left: 0px;
	box-shadow: 3px 3px 25px 1px gray;
	}
	
input[type=text],
input[type=password],
select{
	width:100%;
	margin:10px 0;
	height:40px;
	padding:5px;
	border: 3px solid rgb(236, 176, 220);
	border-radius: 4px;
	}
	
textarea{
	width:100%;
	margin:10px 0;
	height:70px;
	padding:5px;
	border: 3px solid rgb(236, 176, 220);
	border-radius: 4px;
	}
	
input[type=submit],
input[type=button]{
	width: 120px;
	margin:15px 25px;
	padding: 5px;
	height: 40px;
	background-color: sienna;
	border: none;
	border-radius: 4px;
	color: white;
	font-family: 'Droid Serif', serif;
	}
	
h2,p{
	text-align:center;
	font-family: 'Droid Serif', serif;
	}
	
li{
	margin-right:52px;
	display:inline;
	color:#c1c5cc;
	font-family: 'Droid Serif', serif;
	
	}
