@charset "utf-8";
/* CSS Document */
* {
-webkit-transition: all 1s ease;
-moz-transition: all 1s ease;
-ms-transition: all 1s ease;
-o-transition: all 1s ease;
transition: all 1s ease;
}
a {
	text-decoration:none !important;
}
html {
  position: relative;
  min-height: 100%;
}
body {
  background-image: url("../img/geometry.png");
  padding-top: 70px;
}
.wrap {
	padding-bottom:70px;
}
.footer {
  background-color:#8E98A1;
  bottom: 0;
  height: 60px;
  width: 100%;
  margin-top:20px;
  position:absolute;
}
.bg-success {
  background-color: #b9eaa6;
  color: #22301c;
  font-size: 16px;
  padding: 20px;
}
textarea {
  max-width: 100%;
}
.container .text-muted {
  margin: 20px 0;
  color:#ffffff;
}
.main_cont {
  background: none repeat scroll 0 0 rgba(224, 224, 224, 0.31) !important;
  padding: 10px 0;
}
.more_pages {
  background: none repeat scroll 0 0 rgba(204, 204, 204, 0.31);
  padding: 10px 15px;
}
.chat_btn {
  background: none repeat scroll 0 0 #4ea8e0;
  border: 0 none;
  border-radius: 0;
  margin: 23px 10px;
}
hr {
  border-color: #ccc;
}
.blue_btn {
background: none repeat scroll 0 0 #4ea8e0;
border: 0 none;
border-radius: 0;
margin: 5px;
padding: 10px 0;
width: 110px;
}
.navbar-brand img {
  width: 150px;
}
.form-control {
  height: 40px;
}
.navbar {
	background:none repeat scroll 0 0 #c61f26;
	min-height:80px;
}
.pkg_box {
  background: none repeat scroll 0 0 rgba(46, 196, 153, 0.53);
  border: 5px solid rgba(95, 186, 160, 0.42);
  color: #24765f;
  font-size: 18px;
  padding: 20px;
  text-shadow: 1px 1px #c0f2e4;
}
.navbar-default .navbar-brand {
  color: #fffefe;
}
.nav-tabs {
  border-bottom: medium none;
}
.nav-tabs > li > a:hover {
background: none repeat scroll 0 0 transparent !important;
border: 1px solid rgba(204, 204, 204, 0) !important;
}
.done_txt {
color: rgb(34, 194, 34);	
}
.board {
  background: none repeat scroll 0 0 rgba(255, 255, 255, 0.59);
  margin: 0 auto;
  width: 100%;
}
.board .nav > li > a:hover, .board  .nav > li > a:focus {
	background:none;
}

.board .nav-tabs {
    position: relative;
    /* border-bottom: 0; */
    /* width: 80%; */
    margin-bottom: 0;
    box-sizing: border-box;

}

.board > div.board-inner{
    background: #fafafa url(http://subtlepatterns.com/patterns/geometry2.png);
    background-size: 30%;
}

p.narrow{
    width: 60%;
    margin: 10px auto;
}

.liner{
background: none repeat scroll 0 0 #ddd;
height: 2px;
left: 0;
margin: 0 auto;
position: absolute;
right: 0;
top: 19.5%;
width: 54%;
z-index: 1;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    color: #555555;
    cursor: default;
    /* background-color: #ffffff; */
    border: 0;
    border-bottom-color: transparent;
}

span.round-tabs{
    width: 70px;
    height: 70px;
    line-height: 70px;
    display: inline-block;
    border-radius: 100px;
    background: white;
    z-index: 2;
    position: relative;
    left: 0;
    text-align: center;
    font-size: 25px;
	border:1px solid;
	margin:5px 0;
}

span.round-tabs.done{
    color: rgb(34, 194, 34);
	border: 2px solid rgb(34, 194, 34) !important;
}

li.active span.round-tabs.done{
    background: #fff !important;
    border: 2px solid #ddd;
    color: rgb(34, 194, 34);
}


.nav-tabs > li.active > a span.round-tabs{
    background: #fafafa;
}
.nav-tabs > li {
    width: 14.2%;
}
/*li.active:before {
    content: " ";
    position: absolute;
    left: 45%;
    opacity:0;
    margin: 0 auto;
    bottom: -2px;
    border: 10px solid transparent;
    border-bottom-color: #fff;
    z-index: 1;
    transition:0.2s ease-in-out;
}
li:after {
    content: " ";
    position: absolute;
    left: 45%;
   opacity:0;
    margin: 0 auto;
    bottom: 0px;
    border: 5px solid transparent;
    border-bottom-color: #ddd;
    transition:0.1s ease-in-out;
    
}
*/
.nav-tabs > li a{
border-radius: 100%;
margin: 20px auto;
padding: 0;
text-align: center;
width: 90px;
}

.nav-tabs > li a:hover{
    background: transparent;
}

.tab-content{
}
.tab-pane{
   position: relative;
padding-top: 50px;
}
.tab-content .head{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 25px;
    text-transform: uppercase;
    padding-bottom: 10px;
}
.btn-outline-rounded {
    padding: 10px 40px;
    margin: 20px 0;
    border: 2px solid transparent;
    border-radius: 25px;
}

.btn.green{
    background-color:#5cb85c;
    /*border: 2px solid #5cb85c;*/
    color: #ffffff;
}
.cat-circle {
  background: none repeat scroll 0 0 #fff;
  border: 1px solid #c61f26;
  border-radius: 100%;
  color: #c61f26;
  font-size: 16px;
  font-weight: bold;
  height: 150px;
  margin: 20px 0;
  white-space: normal;
  width: 150px;
}
.fur-circle {
background: none repeat scroll 0 0 #fff;
border: 1px solid #c61f26;
border-radius: 100%;
color: #c61f26;
font-size: 16px;
font-weight: bold;
height: 150px;
margin: 20px;
white-space: normal;
width: 150px;
}
.fur-circle img {
  position: relative;
  top: -30px;
  z-index:1;
}
.nex_prev {
  background: none repeat scroll 0 0 rgba(211, 218, 224, 0.56);
  overflow: hidden;
  padding: 10px 0;
}
.cat-circle:hover {
  background: none repeat scroll 0 0 #e8e8e8;
  color: #303030;
}
.modal-content {
  background-clip: padding-box;
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 6px;
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0);
  outline: 0 none;
  position: relative;
}
button.close {
  background: none repeat scroll 0 0 #ff4f4f;
  border: 0 none;
  border-radius: 100%;
  cursor: pointer;
  height: 30px;
  left: 12px;
  opacity: 1;
  position: relative;
  width: 30px;
  color:#fff;
  z-index:2;
}
.close > span {
  position: relative;
  top: -3px;
}
.close:hover, .close:focus {
  color: #ffffff;
  cursor: pointer;
  opacity: 0.5;
  text-decoration: none;
}
.cat-circle img {
  margin: 0 auto;
}
.fur-circle img {
  margin: 0 auto;
}
.features {
  overflow: hidden;
  padding: 14px 0;
}


/***************/



    #owl-demo .item{
    margin: 20px;
    }
    #owl-demo .item img{
    display: block;
    width: 100%;
    height: auto;
    }

.style_lay {
  float: left;
  margin: 0 20px 0 0;
}
.style_lay:hover {
  border:2px solid #ccc;
}
.iphone {
	background-image:url("../img/phone.png");
	background-repeat:no-repeat;
	background-size:contain;
	width:337px;
	height:873px;
}
.colorize {
border: medium none !important;
float: left;
margin: 0 10px;
text-align: left;
width: 50px;
background:none;
}
.color_txt {
  float: left;
  margin: 14px 0;
}
.colorize.input-group-addon > i {
  height: 40px;
  width: 40px;
}
.circle-btn {
  border-radius: 100%;
  margin: 10px;
  padding: 15px;
  width: 54px;
}
.bg_box {
  background: #fff;
  box-shadow: 0px 0px 5px #222;
}
@media( max-width : 960px ){

.fur-circle {
  background: none repeat scroll 0 0 #fff;
  border: 1px solid #c61f26;
  border-radius: 100%;
  color: #c61f26;
  font-size: 16px;
  font-weight: bold;
  height: 140px;
  margin: 12px 12px 50px 12px;
  white-space: normal;
  width: 140px;
}

}
@media( max-width : 768px ){

.fur-circle {
  background: none repeat scroll 0 0 #fff;
  border: 1px solid #c61f26;
  border-radius: 100%;
  color: #c61f26;
  font-size: 16px;
  font-weight: bold;
  height: 130px;
 margin: 12px 12px 50px 12px;
  white-space: normal;
  width: 130px;
}

}
@media( max-width : 585px ){
    
    .board {
height:auto !important;
}
    span.round-tabs {
        font-size:16px;
width: 50px;
height: 50px;
line-height: 50px;
    }
    .tab-content .head{
        font-size:20px;
        }
    .nav-tabs > li a {

}
.cat-circle {
  font-size: 13px !important;
  font-weight: bold;
  height: 110px !important;
  margin: 12px 0 !important;
  width: 110px !important;
}


.btn-outline-rounded {
    padding:12px 20px;
    }
.nex_prev h4 {
  font-size: 14px;
}
}
@media( max-width : 480px ){
    
    .board {
height:auto !important;
}
    span.round-tabs {
        font-size:16px;
width: 50px;
height: 50px;
line-height: 50px;
    }
    .tab-content .head{
        font-size:20px;
        }
.nav-tabs > li a {
  font-size: 12px;
  margin: 0;
  padding: 0;
  width: auto;
}

.fur-circle {
  background: none repeat scroll 0 0 #fff;
  border: 1px solid #c61f26;
  border-radius: 100%;
  color: #c61f26;
  font-size: 16px;
  font-weight: bold;
  height: 125px;
  margin: 12px 12px 50px 12px;
  white-space: normal;
  width: 125px;
}

.btn-outline-rounded {
    padding:12px 20px;
    }
.liner {
  top: 45%;
}
.chat_btn {
  background: none repeat scroll 0 0 #4ea8e0;
  border: 0 none;
  border-radius: 0;
  font-size: 12px;
  margin: 10px 0;
}
.navbar-brand img {
  width: 100px;
}
.navbar-brand {
  float: left;
  height: 50px;
  line-height: 20px;
  padding: 4px 0;
}
.navbar {
  min-height: 50px;
}
.nex_prev .blue_btn > span {
  display: none;
}
.blue_btn {
  background: none repeat scroll 0 0 #4ea8e0;
  border: 0 none;
  border-radius: 0;
  font-size: 12px;
  margin: 0;
  width:50px;
}
}

@media( max-width : 420px ){
    
.board {
height:auto !important;
}
    span.round-tabs {
        font-size:16px;
width: 50px;
height: 50px;
line-height: 50px;
    }
    .tab-content .head{
        font-size:20px;
        }
.nav-tabs > li a {
  font-size: 9px;
  margin: 0;
  padding: 0;
  width: auto;
}

.btn-outline-rounded {
    padding:12px 20px;
    }
span.round-tabs {
  font-size: 12px;
  height: 35px;
  line-height: 35px;
  width: 35px;
}
.cat-circle {
  background: none repeat scroll 0 0 #fff;
  border-radius: 100%;
  color: #007ecc;
  font-size: 13px;
  font-weight: bold;
  height: 110px;
  margin: 12px 0;
  white-space: normal;
  width: 110px;
}

}
@media( max-width : 320px ){
    
.cat-circle {
  font-size: 10px !important;
  font-weight: normal !important;
  height: 96px !important;
  margin: 10px 0;
  white-space: normal;
  width: 96px !important;
}
.nex_prev h4 {
  font-size: 10px;
}
.nex_prev {
  padding: 5px 0;
}
.blue_btn {
  background: none repeat scroll 0 0 #4ea8e0;
  border: 0 none;
  border-radius: 0;
  font-size: 12px;
  margin: 0;
  width:50px;
}
.fur-circle {
  background: none repeat scroll 0 0 #fff;
  border: 1px solid #c61f26;
  border-radius: 100%;
  color: #c61f26;
  font-size: 16px;
  font-weight: bold;
  height: 120px;
  margin: 12px 12px 50px 12px;
  white-space: normal;
  width: 120px;
}
}



