.nav-list {
	padding-right: 15px;
	padding-left: 15px;
	margin-bottom: 0;
}
.header {
	border-bottom: 1px solid #ccc;
}
.well {
	margin-top: 20px;
}
.form-login {
	background-color: #EDEDED;
	padding-top: 10px;
	padding-bottom: 20px;
	padding-left: 20px;
	padding-right: 20px;
	border-radius: 15px;
	border-color: #d2d2d2;
	border-width: 5px;
	box-shadow: 0 1px 0 #cfcfcf;
	width: 100%;
}
.vertical-center {
	min-height: 100%;
	min-height: 100vh;

	margin-top: -100px;
	display: flex;
	align-items: center;
}
label.error
{
	font-size: 12px;
	color: red;
	font-style: italic;
}
.alert
{
	display: none;
	position: fixed;
	top: 10px;
	right: 10px;
	z-index: 1043;
}
#loader
{
	position: fixed;
	left: 50%;
	top: 40%;
	padding: 10px 15px;
	background: white;
	border: 1px solid #999;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	display: none;
	z-index: 1042;
}
#overlay
{
	position: fixed;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.7);
	z-index: 1041;
	display: none;
}
.heading
{
	text-align: center;
	font-size: 24px;
	border-bottom: 2px solid #ccc;
	padding-bottom: 10px;
}
.head_opts
{
	position: absolute;
	top: 0;
	right: 15px;
}
.btn-black
{
	background: rgb(40,40,40);
	color: white;
	font-size: 16px;
}
.btn-black:hover
{
	background: rgb(40,40,40);
	color: white;
	opacity: 0.9;
}
.tb_title
{
	margin: 0;
	text-align: left;
}
.tb_title span
{
	color: red
}
.myform 
{
	padding:  0 10px;
}
.myform input[type=radio]
{
	width: auto;
	box-shadow: none;
	vertical-align: middle;
	margin-right: 10px;
	display: inline-block;
}
.nav-list
{
	padding: 0;
}
.nav>li>a:focus, .nav>li>a:hover, a.active_menu
{
	background-color: #23527c;
	color: white;
}
.bootstrap-tagsinput
{
	width: 100%;
	margin-bottom: 0;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	line-height: 25px;
}
.def_tags
{
	margin: 10px 0;
	padding: 0;
}
.def_tags span
{
	margin: 0 15px 0 0;
}
.form-group
{
	margin-bottom: 12px;
}
.border_top
{
	border-top: 1px solid #ccc;
	padding-top: 15px;
}
.input-group-addon
{
	cursor: pointer;
}
.search_input
{
	margin-top: 15px;
	width: 100%;
}
.search-form
{
	margin-right: 15px;
	float: right;
}
.search-form .btn
{
	margin-bottom: 0;
}
.name
{
	vertical-align: middle;
	width: 30%;
	display: inline-block;
	margin: 8px;
}
.radio
{
	display: inline-block;
}
.photoDetail
{
	text-align: center;
	border:  1px solid #ccc;
	margin: 10px 0;
	background: #23527c;
	color: white;
	min-height: 245px;
	position: relative;
}
.photoDetail img
{
	max-height: 150px;
	margin: 0 auto;
}
.photoDetail a
{
	color: white
}
.photoDetail a:hover
{
	text-decoration: none;
	opacity: 0.8;
}
.photosCol
{
	border: 1px solid #ccc;
	margin: 0 5px 15px;
	padding: 0;
	background: white
}
.photosCol label
{
	margin: 5px 10px;
}
.photosCol input
{
	margin-top: -2px;
	vertical-align: middle;
}
.photosCol .photoDetail
{
	margin: 0;
	padding-bottom: 5px;
}
.photoOpts1
{
	border-bottom: 2px solid #ccc;
	padding-bottom: 10px;
	text-align: center;
	width: 97%;
	margin: 0 auto 10px;
}
.photoOpts1 a
{
	padding: 6px 5em !important
}
.photoOpts2
{
	border-bottom: 2px solid #ccc;
	padding-bottom: 15px;
	text-align: left;
	width: 97%;
	margin: 0 auto 20px;	
	position: relative;
	clear: both;
}
.chkboxOpts
{
	display: inline-block;
}
.chkboxOpts label
{
	margin: 0 10px;
}
.photoOpts2 button
{
	margin: -4px 0;
}
.activePlayerMenu
{
	background-color: #265a88;
	background-position: 0 -15px;
}
.uploaders
{
	display: none;
}
.removeTag
{
	color:  white;
	margin-left: 2px;
}
.openUploader
{
	margin: 10px;
}
.teamDetail p
{
	margin: 0 5px
}
.team_btm
{
	position: absolute;
	bottom: 0;
	width: 100%;
	padding: 10px;
	background: rgba(0,0,0,0.6);
}
.userLink
{
	border-top: 1px solid #ccc;
	display: block;
	border-top: 1px solid #ccc;
	display: inline-block;
	width: 100%;
	padding: 10px;
	background: #e8e8e8;
}
.post_uploader
{
	clear: both;
	border-top: 1px solid #ccc;
	margin: 20px;
	padding: 30px 5% 0;
}
.siteNav
{
	clear: both;
	border-bottom:  2px solid #ccc;
	text-align: center;
	margin: 0 10px 10px
}
.siteNav ul
{
	margin: 0px 0 10px;
}
.follow_btm
{
	position: absolute;
	bottom: 0;
	width: 100%;
}
.userSelect
{
	width: 100%;
	display: block;
	text-align: left;
	border-bottom: 1px solid #ccc;
	margin: 0 !important;
	padding: 5px;
}
.uName
{
	background: #9B9999;
	margin-bottom: 0;
	padding: 5px;
}
.followUser, .unfollowUser
{
	background: #424141;
	display: block;
	padding: 5px;
}
.userTable
{
	background: white;
}
.actions
{
	vertical-align: middle !important;
}
.actions a
{
	margin: 5px 0;
}
.opts3
{
	display: inline-block;
	width: 100%;
}
.opts3 nav
{
	border: 0;
}
.points_radio label
{
	margin-right: 10px;
}
.points_radio input
{
	margin-right: 5px;
	margin-top: 0;
}
.xp
{
	background-color: #23527c;
	color: white;
}
.prizeImgs
{
	margin: 25px 0px;
	max-height: 600px;
	overflow: auto;
	width: 99.2%;
}
.prizeDiv
{
	width: 100%;
	padding-bottom: 15px;
}
.prizeImgSec img
{
	margin-left: 15px;
	float: left;
}
.prizeImgSec a
{
	float: left;
	margin: 0 10px;
	font-size: 16px;
}
.prizeUploader
{
	display: none;
}
.changeThumb
{
	position: absolute;
	top: 10px;
	right: 10px;
}
.winner_lt
{
	text-align: center;
}
.winner_md
{
	text-align: center;
	margin-top: 10%;
}
.winner_md button
{
	margin: 5px 0;
	padding: 5px;
	font-size: 12px;
}
.winner_rt
{
	text-align: center;
}
.winner_sec
{
	margin-top: 15px;
}
.move-arrows
{
	float: left;
	margin-top: 4px;
	cursor: move;
}
.tree-toggler
{
	cursor: pointer;
}
.vid-control
{
	display: none;
}
.top-header
{
	background: #8b1b3f
}
.top-header h1, .top-header a 
{
	color: white;
	text-decoration: none;
}
.modal-body
{
	max-height: 480px;
	overflow-y: auto;
	overflow-x: hidden;  
}
.arrow-controls
{
	width: 100%;
	margin-bottom: 20px;
	display: inline-block;
}
.arrow-left
{
	float: left;
}
.arrow-right
{
	float: right;
}
.tree-toggler
{
	display: block;
	background-color: #8b1b3f;
	color: white;
	padding: 8px;
}
.menuClose
{
	position: relative;
	z-index: 1;
	font-size: 20px;
	float: right;
	margin-top: -5px;
}
.open
{
	display: none;
	font-size: 18px;
	background: #8b1b3f;
	margin: 10px;
	padding: 4px 10px;
	color: white;
	position: fixed;
	z-index: 1000;
}
.open:focus
{
	color: white
}
.btn
{
	margin-bottom: 5px;
}
.dataTables_processing{
	text-align: center;
    font-size: 1.2em;
    background: #5CB85C;
    color: white;
    padding: 2px 0;
    width: 100%;
    float: left;
}
.dataTables_paginate, .dataTables_filter
{
	display: inline-block;
}
.dataTables_filter
{
	float: right;
	margin-top: 7px;
	margin-bottom: 5px;
}
.centerAlign
{
	text-align: center;
}
.hideplayerSec
{
	position: absolute;
	left: 10px;
	bottom: 5px;
}